<div class="container">

	<div class="login-container">
		
		<h1>Telestrations!</h1>

		<div class="mediumspace"></div>

		<span class="error" *ngIf="error">{{ error }}</span>

		<h3>Welcome, please login.</h3>

		<button mat-stroked-button color="primary" (click)="loginGoogle()">Google Login</button>
		<button mat-stroked-button color="primary" routerLink="/login-email">Email Login</button>
		
		<div class="mediumspace"></div>

		<a routerLink="/signup" routerLinkActive="active" style="text-align: center">Don't have an account? <strong>Create one here</strong></a>
	
	</div>

</div>