<div class="container">

  <div class="email-container">

    <h1>Telestrations!</h1>

    <div class="mediumspace"></div>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

      <mat-form-field>    
      <input matInput type="text" placeholder="Email address" (ngModel)="email" name="email" required>
      </mat-form-field> 
      <br>
      <mat-form-field> 
      <input matInput type="password" placeholder="Password" (ngModel)="password" name="password" required>
      </mat-form-field> 
      <br>

      <button mat-stroked-button color="primary" type="submit" [disabled]="!formData.valid">Log in</button>

      <div class="smallspace"></div>

      <button mat-stroked-button color="primary" routerLink="/login">Go back</button>
      <button mat-stroked-button color="primary" routerLink="/signup">Don't have an account?</button>

      <div class="mediumspace"></div>

    </form>

  </div>

</div>