.fill-space {
    margin-left: 85%;
  }

.menu {
    font-size: 20px;
    margin-right: 15px;
}

.lobby-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    width: 60%;
    background: rgba(239, 242, 247, 0.8);
    text-align: center;
}

.lobby-container button{
    margin-top: 20px;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.lobby-container h1 {
    font-size: 6em;
}

a {
    color: #212529;
}

mat-toolbar {
    background: #425F79;
}

mat-toolbar h1 {
    font-size: 40px;
    font-family: 'Love Ya Like A Sister', cursive;
}

mat-toolbar a {
    color: white;
}