/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Love+Ya+Like+A+Sister&display=swap');
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* Added this global styling to get login components styled, feel free to change -Lin */
body {
    background:#E2E4E6;
    background-image: url('./assets/images/background.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Coming Soon', cursive;
}

.smallspace {
    margin-bottom: 5%;
}

.mediumspace {
    margin-bottom: 10%;
}

.largespace {
    margin-bottom: 20%;
}

h1, h2, h3, h3, h5, h6 {
    font-family: 'Love Ya Like A Sister', cursive;
}